body{
	font-family: Arial;
	color:#333333;
	margin: 0;
	font-size: 20px;
}
h1 {
	font-size: 24px;
	margin: 0;
}
/*aca pusimos el cambio de estilo si pasa la mano por*/
a {
	text-decoration: none;
	color: #CCCCCC;
}
a:hover {
	color: #FFFFFF;
}
#top {
	background-color: #212121; 
	display: flex; /*permite que se distribuyan los elementos*/
	flex-direction: row;
	align-items: center; /* Eje X */
	justify-content: flex-start; /* Eje Y*/
	padding: 10px;
}
#menu {
	list-style: none;
	padding: 0;
	margin: 0 0 0 auto;
	color: white;
	overflow: hidden; /* overflow auto --Internet Explorer tiene un problema con esta propiedad le fabrica 
	las barras scroll --#menu */ 
	text-align: center;
}
/* hay tres formas de administrar el menu  1) con la propiedad llamada display
display: block; inline; none; inline-block-- los elementos que son de tipo inline no pueden tener padding
ni margin superior ni inferior--los elementos inline block y block pueden tener margenes y padding
li{
	display inline = elementos uno al lado del otro, no soporta margen y padding.
	display block = elementos uno debajo del otro soporta margin y padding.
	display inline block = elementos uno al lado del otro y soportan margen y padding.
	display none = oculta el elemento completamente de la interfaz. 
}

*/
#menu li{
	float: left;
}

#menu li a {
	display: block;
	padding: 10px;
	font-size: 20px;
	color: #D9D9D9;
}
#menu li a:hover {
	color: #FFFFFF;
	background-color:#AAAAAA;
}







