body{
	font-family: Arial;
	color:#333333;
	margin: 0;
	font-size: 20px;
}
h1 {
	font-size: 24px;
	margin: 0;
}
/*aca pusimos el cambio de estilo si pasa la mano por*/
a {
	text-decoration: none;
	color: #CCCCCC;
}
a:hover {
	color: #FFFFFF;
}
#top {
	background-color: #212121; 
	display: flex; /*permite que se distribuyan los elementos*/
	flex-direction: row;
	align-items: center; /* Eje X */
	justify-content: flex-start; /* Eje Y*/
	padding: 10px;
	border-bottom: solid 1px #FFFFFF;
}
#top button {
	display: none; /*PARA OCULTAR EL MENU CUANDO ESTA EN WEB*/
}
#menu {
	list-style: none;
	padding: 0;
	margin: 0 0 0 auto;
	color: white;
	overflow: hidden; /* overflow auto --Internet Explorer tiene un problema con esta propiedad le fabrica 
	las barras scroll --#menu */ 
	text-align: center;
}
/* hay tres formas de administrar el menu  1) con la propiedad llamada display
display: block; inline; none; inline-block-- los elementos que son de tipo inline no pueden tener padding
ni margin superior ni inferior--los elementos inline block y block pueden tener margenes y padding
li{
	display inline = elementos uno al lado del otro, no soporta margen y padding.
	display block = elementos uno debajo del otro soporta margin y padding.
	display inline block = elementos uno al lado del otro y soportan margen y padding.
	display none = oculta el elemento completamente de la interfaz. 
}

*/
#menu li{
	float: left;
}

#menu li a {
	display: block;
	padding: 10px;
	font-size: 20px;
	color: #D9D9D9;
}

#menu li a:hover {
	color: #FFFFFF;
	background-color:#AAAAAA;
}

#content figure{
	margin: 0;
}

#content figure figcaption {
	background-color: #212121;
	padding: 10px;
}

#content figure figcaption h2 {
	color: #fff;
	margin: 0;
	font-size: 36px;
}

#content img {
	display: block;
	width: 100%;
}

.noticia {
	border-bottom: solid 1px #CCCCCC;
	display: flex;
	margin: 0 10px;
	padding: 10px 0;

}

/* ----los ID SE USA # con CLASS .XXXX---img full width 1366 es el ideal-------*/
/*-----TAREA----*/

.noticia-img {
	width: 30%;
	padding: 0 10px;
	box-sizing: border-box; /*Esta propiedad nos permite hacer que todos los padding y 
	todos los borders se fusionen*/
}

.noticia-txt {
	width: 70%;
	padding: 0 10px;
	box-sizing: border-box;
}

/*Se puede crear una regla que se aplique el mismo estilo en varias clases
  
  .noticia-img, .noticia-txt{
   padding: 0 10px;
   box-sizing: border-box;
}
*/
/*aca le aplicamos un estilo diferente al ultimo elemento del padre ID #ultimasnoticias
de la classe (hijos) .noticias las child...*/
#ultimasNoticias .noticia:last-child {
	border: none;
}

#copyright p {
	background-color: #212121;
	margin: 0px;
	padding: 10px;
	color:#FFF;
	text-align: center;
}

#tablaPosiciones table {
	border-collapse: collapse;
	border:solid 1px #00000;
	margin: auto;
	width: 800px;
}

#tablaPosiciones table tr{
	border:solid 1px #00000;

}

#tablaPosiciones table th{
	background-color: red;
	color: #FFF;
	padding: 10px;


}

#tablaPosiciones table td{
	background-color: #CCCCCC;
	padding: 10px;

}

#tablaPosiciones table td:nth-of-type(odd){ /*impar*/
	text-align: center;
	font-size: 28px;
	font-weight: bold;

}
#tablaPosiciones table td:nth-of-type(even) strong{ /*pares*/
	color: green;
}

/*--AJUSTES MOBILE--*/

@media screen and (min-width: 320px) and (max-width: 480px){
	#top {
		flex-wrap: wrap;
	}
	#menu {
		display: none;
		margin:auto;
		width: 100%;
		position: absolute;
		background-color: #212121;
		left: 0;
		top: 52px;
		z-index: 9999;
	
	}
	#top button {
		display: block;
		background-color:transparent;
		border: none;
		color: #CCCCCC;
		font-size:30px;
		font-weight: 900;
		margin-left: auto;
	}
	#top button:focus + #menu {
		display: block;

	}

	#menu li {
		float: none;

	}
}



























